@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');
@import url('/css/style_icons.css');

:root {
    --text_color: #B0ADAD;
    --card_color: #292C36;
    --shadow: rgba(0, 0, 0, 0.7);
    --shadow2: rgba(0, 0, 0, 0.45);
    --bluefade: #0043E0;
    --bluefade2: #3266e0;
    --gradient: #00B5F5;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
}

.header {
    background: linear-gradient(var(--shadow2), var(--shadow2)), url('/images/bg-image\ 1.jpg');
    height: 85vh;
}

.apresentacao {
    padding: 10% 0 1% 0;
    margin-top: -2%;
}

.apresentacao h1{
    font-size: 4rem;
    text-shadow: 3px 3px 6px var(--shadow);
}
.apresentacao p{
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px var(--shadow);
}

.about_me img {
    scale: 1.2;
}

.about_me h2, .stacks h2, .projects_initial_title h2{
    font-size: 1.5rem;
    color: var(--bluefade2);
}

.about_me h1, .stacks h1, .projects_initial_title h{
    font-size: 2.25rem;
}

.about_me p {
    font-size: 1.25rem;
    color: var(--text_color);
}

.card_stack {
    background-color: var(--card_color);
    max-width: 500px;
}

.card_title {
    color: white;
    font-size: 1.5rem;
    line-height: 1.6;
}

.card_text {
    color: var(--text_color);
    font-size: 1.15rem;
}

/* .card_body {
    max-width: 100%;
} */